@import url("./header.css");
@import url("./reset.css");

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    gap: 10px;
    flex-wrap: wrap;
}
general-product-item , product-item {
    width: 33%;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
.card .card-image {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
.card .add-to-basket{
    display: flex;
    justify-self: end;
    margin: 10px;
}

.basket-icon{
    width: 40px;
    height: 40px;
}

basket-button{
    position: relative;
}
basket-button #badge{
    position: absolute;
    top: -5px;
    right: -13px;
    background-color: rgb(32, 181, 184);
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 14px;
}